:root {
  /* Primary color shades */
  --md-primary-fg-color: #025eaa;
  --md-primary-fg-color--light: #538bdc;
  --md-primary-fg-color--dark: #ddebff;

  /* Accent color shades*/
  --md-accent-fg-color: #7fbce1;
  --md-accent-fg-color--transparent: hsla(#7fbce1, 0.1);
}

.md-logo {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 5px;
}

.md-footer-meta__counter {
  display: flex;
  align-items: center;
}

.md-footer-meta__counter img {
  vertical-align: middle;
  margin-bottom: 0;
}
